@charset "utf-8";

$color-accent: #bd5e6a;

@use "~bulma/sass" as bulma with (
  $primary: #58b2dc,
  $dark: #262626,
  $link: #58b2dc,

  $body-size: 14px,

  $title-weight: 400,

  $navbar-height: 4rem,
  $navbar-item-img-max-height: none,

  $hero-body-padding: 4rem 0 14rem 0,
  $hero-body-padding-large: 8rem 0 28rem 0
);

@use "~bulma/sass/utilities/mixins";

a {
  &.navbar-item {
    &:hover {
      color: bulma.$link;

      background-color: transparent;
    }
  }
}

address {
  font-style: normal;
}

article {
  margin-top: 4rem;
}

h2 {
  &:not(.has-text-centered) {
    &::after {
      content: "";

      position: absolute;

      left: 0;

      margin-top: calc(bulma.$size-3 * 4 / 3);

      width: 6rem;

      border-top: solid 2px bulma.$primary;

      @include mixins.mobile {
        margin-top: calc(bulma.$size-4 * 4 / 3);
      }
    }
  }
}

h3 {
  &:not(.has-text-centered) {
    &::after {
      content: "";

      position: absolute;

      left: 0;

      margin-top: calc(bulma.$size-4 * 4 / 3);

      width: 4rem;

      border-top: solid 1px bulma.$primary;

      @include mixins.mobile {
        margin-top: calc(bulma.$size-5 * 4 / 3);
      }
    }
  }
}

.banner {
  background-color: rgba(bulma.$dark, 0.7);
}

.card {
  overflow: hidden;

  &:hover {
    background-color: rgba(bulma.$dark, 0.03);
  }
}

.card-image {
  padding-left: 25%;
  padding-right: 25%;
}

.content {
  a {
    color: bulma.$link;
  }
}

.cover-consultant {
  background-color: bulma.$dark;
  background-image: url("{{ partial `resource.html` (dict `file` `consultant-gray.jpg`) }}");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  & h2 {
    padding-bottom: 18rem;
  }
}

.cover-consultant-detail {
  background-color: bulma.$dark;
  background-image: url("{{ partial `resource.html` (dict `file` `consultant-mono.jpg`) }}");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  height: 36rem;
}

.cover-top {
  background-image: url("{{ partial `resource.html` (dict `file` `hero.svg`) }}");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  color: bulma.$light;
  background-color: bulma.$dark;

  & a {
    color: bulma.$light;

    &:hover {
      color: bulma.$link;
    }
  }
}

.logo {
  width: 140px;
}

.navbar {
  background-color: rgba(bulma.$scheme-main, 0.97);

  &.is-fixed-top {
    @media print {
      position: static;
    }
  }
}

.navbar-item {
  &.is-tab {
    display: flex;
    align-items: center;
  }
}

.ribbon {
  position: absolute;

  top: 2.5rem;
  right: -6rem;

  width: 20rem;
  height: 3rem;

  line-height: 3rem;

  text-align: center;

  transform: rotate(45deg);

  color: bulma.$light;
  background-color: $color-accent;
}

.sections {
  & > section {
    &:nth-child(odd) {
      background-color: rgba(bulma.$dark, 0.03);
    }
  }
}

.tag {
  &.is-accent {
    color: bulma.$light;
    background-color: $color-accent;
  }
}

.zip-code {
  &::before {
    content: "〒";
  }
}
