---
title: '会社情報'
---

article
  = partial('partials/content_heading') do
    .content
      .columns
        .column.is-two-thirds
          table.table
            tbody
              tr
                th
                  | 社名
                td
                  = data.corporate.name
                  br
                  = data.corporate.name_en
              tr
                th
                  | 所在地
                td
                  span.zip-code
                    = data.corporate.zip_code
                  br
                  = data.corporate.address
              tr
                th
                  | 設立
                td
                  time
                    = data.corporate.established.strftime('%Y年%m月%d日')
              tr
                th
                  | 代表者
                td
                  = data.corporate.representative
