---
title: 'Home'
---

article.section.hero-top
  .banner
    .container
      p.title.is-2.is-spaced.has-text-light.is-size-3-mobile
        | ITとWebで遥かな飛躍を

      h1.subtitle.is-5.has-text-light
        = escape_html("「#{data.corporate.name}」は中小企業と個人事業主向けのIT&Web支援に特化した")
        br
        | さいたま市を拠点とするコンサルティング会社です。

article.section
  header
    .container
      h2.title.is-2.has-text-centered.is-size-3-mobile
        | サービス

  - data.services.each do |_key, service|
    hr.separation

    section
      .container
        h3.title.is-4.marked
          = service.title

        .tile.is-ancestor
          - service.menus.each do |menu|
            .tile.is-parent
              section.tile.is-child.card
                = link_to(find_path(:service), fragment: menu.id) do
                  .card-image
                    figure.image.is-4by3
                      = image_tag(menu.id + '.svg', alt: menu.name)

                  .card-content
                    h4.title.is-5.has-text-centered
                      = menu.name

                    hr

                    .content
                      p.has-text-grey-dark
                        == menu.desc

                    - if menu.ribbon
                      p.is-size-4.ribbon
                        = menu.ribbon

  hr.separation

  footer
    .container
      p.has-text-centered
        = link_to('詳細を見る', find_path(:service), html_class('button', 'is-primary', 'is-outlined', 'is-medium'))

article.section.hero-consultant
  .container
    h2.title.is-2.has-text-centered.has-text-light.is-size-3-mobile
      | コンサルタント

    p.has-text-centered
      = link_to('詳細を見る', find_path(:consultant), html_class('button', 'is-dark', 'is-inverted', 'is-outlined', 'is-medium'))

article.section
  .container
    h2.title.is-2.has-text-centered.is-size-3-mobile
      | お問い合わせ

    .content
      p
        | ご依頼、ご相談はお問い合わせフォームより承ります。
        br
        | お気軽にお問い合わせください。

    hr.separation

    address.has-text-centered
      = link_to('フォームから問い合わせる', data.menus.main.contact.url, html_class('button', 'is-primary', 'is-medium'))
